/*---- CSS Document  --- */

html{
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

body {
    padding:0;
    margin: 0;
    background-color: #050a0d;   
}

img, embed, object, video{
    max-width: 100%;
  }

  section{
      margin:0;
      padding:0;
  }

.hdrArea{
    height: 90px;
    background-color:rgba(246,119,77,.4);
}


.mainSection{     
    width: 70%;
    height: 600px;   
    background-color: #333333;
    margin: 20px auto;
    position: relative;
}

.logoText{
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 135px;     
}

.heroImageHolder{
    height:300px;
    background-image: url(/img/zen_garden_01.jpg);
}

.mobileMenuBtn{
    position: absolute;
    top:4px;
    right: 6px;
    font-size: 36px;
}

.logoImgArea{
    width:150px;
}

#logoImg{   
    position: absolute;
    top: 4px;
    left: 12px;
    height: 80px;
    width: 120px;
    background-size: cover;
    display: inline-block;
}

.centerTopInfoSection{    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 250px;
}


.panel-group .panel + .panel {
	margin-top: 0px;
}

.panel{
    height: 62px;
}

.leftPanels{
    width: 40%;
    display: inline-block;  
    height: 250px;  
}


.panel-header{
    background-color: #262626;
    color: lightsalmon;
}

.panel-content{
    background-color: #2b2b2b;
    color: lightgrey;
}


.pageViewNumb{
  margin-top: 20px;
  width: 25%;
  display: inline-block;
}

.panel-body{
   width: 70%;
   display: inline-block;
}


.rightPanels{
   width: 60%;
   background-color: darkorange;  
   display: inline-block;
   background-image: url(/img/worldMap.png);
   height: 250px;
   color: white;
}

.rightPanels h4{
    margin-left: 16px;
}

.bottomInfoSection{    
    /* background-color: #333333;     */
    background-color:darkcyan;
    padding-bottom: 20px;
    position: relative;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.visitsWidget{
    color: white; 
    background-color: #333333;  
    /* background-color: darkolivegreen; */
    width: 40%;
    position: relative;
    height: 164px;
}

.widgetHdr{    
    height: 20px;
    color: white;
    position: absolute;
    top: 5px;
    left: 10px;
    margin-bottom: 12px; 
}


#rvNumb{
    position: absolute;
    top: 25px;;
    left:10px;
    color: lightsalmon;
    
}

#nvNumb{
    position: absolute;
    top: 60px;
    left: 10px;
    color: white;
}



.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.visitsGraph{
    font-size: 100px;    
    color: darkorange;
    position: absolute;
    top: 1px;
    right: 10px;
    height: 150px;
}


#rvCircle{
    color: darkorange;
    display: flex;
}

#nvCircle{
    color: white; 
    display: flex;   
    margin-top: 10px;
}


.visitorText{
    display: flex;
    margin-left:3px;
}

.nvGroup{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.rvGroup{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 2px;
    right: 5px;  
    color: darkorange; 
}

.visitGroup{
    display: flex;
    flex-wrap: flex;
}
#rvCircle{
    margin-top: 9px;
}

.bottomCenterWidget{
    background-color: lightyellow;
    width: 30vw;
}

.bottomCenterWidget{
    width: 30%;
    background-image: url(/img/marbles_BW_01.jpg);
    background-attachment: fixed;
    background-position: center; 
    color: white;  
}

footer{
    height: 60px;    
    color: darkorange;
    text-align: center;
    background-color:rgba(246,119,77,.4);
}